{% extends 'partials/main.html' %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="password1">Password</label>
                            <input class="form-control" type="password" id="password1" name="password1" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="password2">Confirm password</label>
                            <input class="form-control" type="password" id="password2" name="password2" required>
                        </div>
                        <button class="btn btn-success btn-block">Register</button>
                        {% for message in messages %}
                        <h6 style="text-align: center; margin-top: 6px;">{{ message }}</h6>
						{% endfor %}
                    </form>
                </div>
            </div>
    </div>
</div>
{% endblock %}